@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1567567302899'); /* IE9 */
  src: url('iconfont.eot?t=1567567302899#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABjAAAAI+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VQE2AiQDCAsGAAQgBYRtBzMbfgXIrrApw69IR66FNSEa71j8dnoD+HKIh/+W7+7bnd9mU7pqpeqErtBROCQKiWoWJ+LQWI6nG7Fba7n/LRuV8c+yyAphIXu0NLmUHDtdpSpkKxw2QLVM/X5YAWSWJYPfefJV6RP3Tv8E+iCjHlAuYwwaa9KkLqAuDqRA98AosiKJvGHsghf4mEA2rqVxu7azL8Yl9qpAvCkyKcYLUUlihbbQbDiYxCcN7eJDMT5G34//FuMUGiW75cnDqhELvzgl5WOd1wEhRkDHGyixSkjEi8bsnSHBuCE5O2yaOFZj8EtdBx5xVKdgf51d3wVGoeqZ1N5KAQp4rKkyRiZdRuR36vT4+uBYy9Pp/58efqkceVDyfeuD76Ec/o4FAnXlY6kGgq/x/zh9u0rgx3ffonBdMswvtFf3Bb9BPXAgGVrbXSRN3ThayLtvyzJqODjga6pt+JzF0DY8wd8ylqHUNksmdhUNlV00tV0gW7F+vDKIDInUwbI3gNDnHYUejyj1+SAT+4mGEd9o6oshZK9i8MLKfBSTN4SS0YB6gELHYF0vT8aNu5jdOEl5bcQfItVFAvrrm+XCOgakJbbUt9mA2YKl6GENPIfORUgUS9TcyZnTVHfjoelNHR29mHSDIIkhAygPQEGLAhuMZ5OVz+9CmRuORB19ddlDiNSK2UFfR28AuW4Kg/oe5ZXarcwAYxawSOSBNTAPOU4EUvO8EtJYRz4hnUzpOsPsUFNne4v/uxOQ2fYinB2lzluWdGVvnBMC') format('woff2'),
  url('iconfont.woff?t=1567567302899') format('woff'),
  url('iconfont.ttf?t=1567567302899') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1567567302899#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star_full:before {
  content: "\e627";
}

