
.top {
	background: #fff;
	height: 54px;
	overflow: hidden;
	display: block;
	position: sticky;
	z-index: 200;
	top: 0;
	box-shadow: 0px 5px 5px #999;
}

.blue {
	width: 3px;
	height: 53px;
	background: #0082c3;
	display: block;
	float: left;
	z-index: 12;
}
.top .top_one{
	width: 16px;
	height: 4px;
	background: #575859;
	border-radius:8px;
	display: inline-block;
	position: absolute;
	left: 23px;
	top: 21px;
}
.top .top_two{
	width: 19px;
	height: 3px;
	display: inline-block;
	background:#575859 ;
	border-radius: 12px;
	position: absolute;
	left: 23px;
	top: 28px;
}
.top .top_three{
	width: 22px;
	height: 3px;
	display:inline-block;
	background:#575859 ;
	border-radius: 12px;
	position: absolute;
	left: 23px;
	top: 34px;
}
.top .classify {
	width:40px;
	height: 54px;
	font-size: 13px;
	font-weight: 700;
	color: #575859;
	display: inline-block;
	background: #edeff1;
	line-height: 54px;
	padding-left: 56px;
	transform:skewX(8deg);
	position: absolute;
	left: -4px;
}
.top .classify:hover{
	background: #0082c3;
	color: #fff;
	transition-duration:0.4s;
}
.top .classify:hover .top_one{
	width: 22px;
	background: #fff;
	transition-duration:0.4s;	
}
.top .classify:hover .top_two{
	background: #fff;
	transition-duration:0.4s;
}
.top .classify:hover .top_three{
	width: 16px;
	background: #fff;
	transition-duration:0.4s;
}
.top .logo{
	position: absolute;
	top: 12px;
	left: 110px;
}
.top .logo img{
	width: 210px;
	height: 30px;	
}
.top .top_seek{
	width: 727px;
	height: 35px;
	color:#e0e2e7;
	background: #edeff1;
	transform: skewX(10deg);
	margin-left: -10px;
	padding-left: 10px;
}
.top .top_seek_top{
	width:730px ;
	height: 35px;
	-background: aqua;
	position: absolute;
	top: 10px;
	left: 340px;
	overflow: hidden;
}
.top .top_zoom{
	width: 48px;
	height: 33px;
	display: block;
	border: 1px solid #edeff1;
	transform:skewX(10deg);
	position: absolute;
	left: 1067px;
	top: 10px;
}
.top .top_zoom .zoom{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
	left: 15px;
	background: url(../img/fa.png) no-repeat;
}
.top .top_zoom:hover{
	transition-duration:0.4s;
	background: #edeff1 /*url(../img/fdj.jpg) no-repeat*/;
}
.top .top_right{
	float: right;
	margin-right: -5px;
	position: relative;
}
.top .top_right li{
	float: left;
	width: 84px;
	height: 54px;
	border-left:1px solid #edeff1;
	border-right:1px solid #edeff1;
	transform: skewX(10deg);
	line-height: 54px;
	text-align: center;
	p{
		width: 380px;
		height: 262px;
		background: springgreen;
		position: absolute;
		top: 54px; 
		z-index: 99;
	}
}

.top .top_right li span{
	transform: skewX(-10deg);
	display: block;	
	position: absolute;
	left: 22px;
	width: 40px;
	height: 40px;
	font-size: 13px;
	color: #575859;
	cursor: pointer;
}
.top .top_right li:hover{
	background: #efeef3;
	transition-duration:0.4s;
}
/* .top .top_right li:hover p{
	display:block;
	position: absolute;
	top: 54px;
	z-index: 99;
} */
.top .top_right li:nth-child(4){
	width: 100px;
	height: 54px;
	background: #ffea28;
}
.top .top_right li:nth-child(4):hover{
	background: #fdd935;
	transition-duration:0.4s;
}
			/*  二级导航  */
.two_nav{
	display: none;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 54px;
	left: 0;
	z-index: 33333;
	/* left */
	.nav_left{
		width: 130px;
		height: 600px;
		background: #f9f9f9;
		border-right: 1px solid #e7e7e7;
		float:left;
		li{
			width: 130px;
			height: 40px;
			background: #fff;
			padding-top:20px;
			a{
				width: 96px;
				height: 22px;
				display: block;
				font-size: 17px;
				color: #0082c3;
				font-weight: 700;
				padding-left: 5px;
				border-left: 5px solid #0082C3;
			}
		}
		.different{
			border-top: 1px solid #ddd;
			background: #f9f9f9;
			a{
				color: #fc4b53;
				border: none;
				font-weight: 100;
			}
			}
			.different1{
				background: #f9f9f9;
					a{
						border: none;
						font-weight: 100;
							color: #666;
							font-weight: 100;
							border: none;
					}
			}
	}
	/* right */
.nav_right{
	width: 453px;
	height: 600px;
	background: #fff;
	float: right;
	margin-right: 16px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	li{
		width: 150px;
		height: 120px;
		img{
			width: 90px;
			height: 90px;
			margin-left: 30px;
		}
		p{
			width: 150px;
			height: 30px;
			text-align: center;
			line-height: 30px;
		}
	}
}
}
			/*bannerStart*/
.banner{
    width: 100%;
    height: 590px;
}
.banner img{
    width: 100%;
	position: absolute;
	z-index: -3;
}
        /*listStart*/
.list{
    font-size: 40px;
    font-weight: bold;
    color: #505052;
    margin-left: 590px;
    margin-bottom: 72px;
}
.list_one{
    width: 1093px;
    height: 588px;
    display:flex ;
    margin: 0 auto;
}
.list_two{
	width: 1093px;
	height: 588px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.list_one .list_two li{
    width: 157px;
    height: 170px;
	text-align: center;
	img{
		-width: 157px;
	}
	.list_three{
		width: 157px;
		height: 66px;
		font-size: 18px;
		text-align: center;
		line-height: 66px;
	}
}
 .exercise{
	 width: 400px;
	 height: 44px;
	 font-size: 14px;
	 color: #fff;
	 text-align: center;
	 line-height: 44px;
	 background: #0082c3;
	 margin-top: -76px;
	 margin-left: 550px;
 }
 .exercise:hover{
	 transition-duration:0.4s;
	 background: #0075af;
 }
/* titleStart */
header{
	width: 100%;
	height: 154px;
	background: #f6f6f6;
	margin-top: 48px;
}
.header_cen{
	width: 1093px;
	height: 135px;
	padding-top: 19px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
.header_cen li img{
	width: 262px;
	height: 116px;
}
/* yogaTOPStart */
.yoga{
	width: 1165px;
	height: 570px;
	-background: #FFC0CB;
	margin-left: 176px;
	margin-top: 50px;	
}
.yoga_lef {
	height: 570px;
	width: 142px;
	img{
		height: 570px;
	}
}

.yoga .yoga_top{
	width: 792px;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	float: right;
	margin-top: -580px;
}
.yoga .yoga_top li {
	width: 252px;
	height: 277px;
	border: 1px solid #edeff1;
	margin-top:10px;
	position:relative;
	img{
	width: 120px;
	height: 145px;
	margin-top: 25px;
	margin-left: 66px;	
	}
	span{
		display: block;
		width: 60px;
		height: 24px;
		font-weight: 700;
		background: #ffea28;
		font-size: 14px;
		position: absolute;
		left: 182px;
		top: 21px;
	}
	b{
		font-size: 9px;
		color: #575859;
		font-weight: bold;
		position: absolute;
		left: 105px;
		top: 194px;
	}
	p{
		font-size: 11px;
		color: #575859;
		position: absolute;
		top: 206px;
		left: 52px;
	}
	.icon{
		position: absolute;
		left: 78px;
		top: 226px;
		.iconfont{
			float: left;
			color: #ffb339;
			
		}
		.icon_font{
			float: left;
			color: #575859;
			font-size: 10px;
			margin-top: 4px;
		}
	}
}
/* yogaCenterStart */
.yoga_two{
	width: 1165px;
	height: 570px;
	-background: #FFC0CB;
	margin-left: 176px;
	margin-top: 50px;
	-margin-top: -580px;
}
.yoga_two .yoga_rig {
	height: 570px;
	width: 142px;
	float:right;
	margin-right:206px;
	img{
		height: 570px;
	}
}
.yoga_two .yoga_top{
	width: 792px;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	float: left;
}
.yoga_two .yoga_top li {
	width: 252px;
	height: 277px;
	border: 1px solid #edeff1;
	margin-top:10px;
	position:relative;
	img{
	width: 120px;
	height: 145px;
	margin-top: 25px;
	margin-left: 66px;	
	}
	.deals{
		width: 49px;
		height: 15px;
		display: inline-block;
		background: #e20c18;
		color: #fff;
		font-size: 10px;
		text-align: center;
		transform:rotate(-10deg);
		position: absolute;
		top: 12px;
		left: 10px;
	}
	.deals_lef{
		text-decoration: line-through;
		font-size: 10px;
		position: absolute;
		top: 8px;
		left: 182px;
		font-weight: 600;
	}
	.deals_top{
		font-size: 9px;
		color:#e20c18 ;
		position: absolute;
		top: 8px;
		left: 221px;
	}
	.deals_red{
		background:#e20c18 ;
		color: #fff;
	}
	span{
		display: block;
		width: 60px;
		height: 24px;
		font-weight: 700;
		background: #ffea28;
		font-size: 14px;
		position: absolute;
		left: 182px;
		top: 21px;
	}
	b{
		font-size: 9px;
		color: #575859;
		font-weight: bold;
		position: absolute;
		left: 105px;
		top: 194px;
	}
	p{
		font-size: 11px;
		color: #575859;
		position: absolute;
		top: 206px;
		left: 52px;
	}
	.icon{
		position: absolute;
		left: 78px;
		top: 226px;
		.iconfont{
			float: left;
			color: #ffb339;
			
		}
		.icon_font{
			float: left;
			color: #575859;
			font-size: 10px;
			margin-top: 4px;
		}
	}
}
/* yogaBottomStart */
.yoga_three{
	width: 1165px;
	height: 570px;
	-background: #FFC0CB;
	margin-left: 176px;
	margin-top: 50px;	
}
.yoga_lef {
	height: 570px;
	width: 142px;
	img{
		height: 570px;
	}
}

.yoga_three .yoga_top{
	width: 792px;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	float: right;
	margin-top: -580px;
}
.yoga_three .yoga_top li {
	width: 385px;
	height: 277px;
	border: 1px solid #edeff1;
	margin-top:10px;
	position:relative;
	img{
	width: 140px;
	height: 150px;
	margin-top: 20px;
	margin-left: 100px;	
	}
	span{
		display: block;
		width: 60px;
		height: 24px;
		font-weight: 700;
		background: #ffea28;
		font-size: 14px;
		position: absolute;
		left: 300px;
		top: 21px;
	}
	b{
		font-size: 9px;
		color: #575859;
		font-weight: bold;
		position: absolute;
		left: 160px;
		top: 196px;
	}
	p{
		font-size: 11px;
		color: #575859;
		position: absolute;
		top: 206px;
		left: 107px;
	}
	.icon{
		position: absolute;
		left: 136px;
		top: 226px;
		.iconfont{
			float: left;
			color: #ffb339;
			
		}
		.icon_font{
			float: left;
			color: #575859;
			font-size: 10px;
			margin-top: 4px;
		}
	}
}
/* MIdStart */
.mid{
	width: 1175px;
	height: 442px;
	margin-top: 1970px;
	margin-left: 180px;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;	
}
/* TextStart */
.tetx{
	width: 944px;
	height: 63px;
	margin: 0 auto;
	text-align: center;
	margin-top: 70px;
	p{
		font-size: 12px;
		color: #e20c18;
		font-weight: 700;
	}
	b{
		font-size: 12px;
	}
	a{
		text-decoration: underline;
	}
}
/* navSatrt */
nav{
	width: 100%;
	height: 75px;
	background: #0082c3;
	.nav_cen{
		width: 1180px;
		height: 75px;
		margin: 0  auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.nav_one{
			width:120px;
			height:26px;
			text-align:center;
			padding-top:10px;
			margin-top:20px;
		.iconfont{
			width: 35px;
			height: 37px;
			color: #fff;
			display: inline;
	}
	span{
		font-size: 13px;
		color: #fff;
		font-weight: 700;
	}
	}
}
}
/* footerStart */
footer{
	width: 100%;
	height: 220px;
	background: #edeff1;
	padding-top:40px;
	ul{
		width: 1016px;
		height: 218px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom:1px solid #e7e6e6;
		li{
			width: 72px;
			p{
				font-size: 13px;
				color: #0082c3;
				font-weight: 700;
				margin-bottom: 8px;
			}
			b{
				display: block;
				font-size: 10px;
				color: #575859;
			}
		}
		img{
			height: 94px;
		}
	}
}
/* end */
.end{
	width:100%;
	height: 82px;
	
	background: #edeff1;
	.end_cen{
		float: right;
		width: 378px;	
		p{
			font-size:12px;	
			span{
				font-size: 10px;
				color: #575859;
			}
		}
		img{
			height: 42px;
			float: right;
		}
	}
}